<h2>Los alumnos</h2>
<ul class="alumno">
<li *ngFor="let alumno of alumnos"
[class.selected]="alumno === selectedAlumno"
(click)="onSelect(alumno)">
<span class="badge">{{alumno.id}}</span>{{alumno.name}}
</li>
</ul>

<div *ngIf="selectedAlumno">

    <h2>{{selectedAlumno.name | uppercase}} Details</h2>
    <div><span>id:</span>{{selectedAlumno.id}}</div>
    <div>
        <label>Nombre:
            <input [(ngModel)]="selectedAlumno.name" 
            placeholder="name"/>
    
        </label>
       
    </div>

    <div>

            <label>Carrera:
                    <input [(ngModel)]="selectedAlumno.carrera" 
                    placeholder="carrera"/>
            
                </label>
    </div>

</div>
